.main-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.col-left {
    width: 40%;
    display: flex;
    justify-content: center;
}

.col-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
    background-color: #E18B22;
}

.formLogin {
    width: 100%;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
}

.bg-login {
    background-color: rgba(255, 255, 255, 0.349);
    width: 70%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem;
}

.h1-login {
    color: white;
}

.loginInput {
    width: 100%;
    margin-bottom: 1rem;

}

.form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.btnLogin{
    color: #E18B22;
    background-color: white;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out ;
    padding: 2% 18%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btnLogin:hover{
    color: white;   
    background-color: #c98b40;
}

.form-label {
    color: white;
}

.link-registro {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding-top: 2rem;
    text-align: center;
}

.link-registro:hover {
    color: rgba(255, 255, 255, 0.74);
}

@media screen and (max-width: 700px) {

    .main-login {
        flex-direction: column;
    }  
      
    .col-left {
        height: 20%;
    }

    .col-right {
        height: 80%;
        width: 100%;
    }

    .bg-login {
        width: 90%;
    }

}