header {
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: #fff;
    z-index: 1000;
}

.main-financeiro {
    background-color: #F0F0F0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.container-financeiro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-financeiro{
    color: rgb(56, 56, 56);
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-weight: 500;
    font-size: 3rem;
}


.ctn-financeiro{
    gap: 5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.container-card-financeiro {
    display: flex;
    align-items: center ;
    justify-content: center;
    gap: 30rem;
    background-color: white;
    width: 80%;
    height: 8rem;
    margin-left: 10%;
    
    -webkit-box-shadow: 4px 7px 17px -4px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 4px 7px 17px -4px rgba(0, 0, 0, 0.32);
    box-shadow: 4px 7px 17px -4px rgba(0, 0, 0, 0.32);
}

.nome-financeiro{
    margin-top: 0.5rem;
}

.total-card{
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.hora-card{
    font-size: 1.6rem;
}

.valor-card{
    font-size: 1.4rem;
    background-color: #E18B22;
    padding: 0.3rem 1.5rem;
    border-radius: 1rem;
    color: white;
}
