.main-AddBarber{
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}

.containerAddBarbe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 8rem);
    background-color: #F0F0F0;
}

.formAddBarbe  {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-addBarbe  {
    background-color:  rgb(255, 255, 255);
    padding: 8% 1%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    -webkit-box-shadow: 4px 7px 17px -4px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 4px 7px 17px -4px rgba(0, 0, 0, 0.32);
    box-shadow: 4px 7px 17px -4px rgba(0, 0, 0, 0.32);
}

.h1-addBarbe  {
    color: rgb(56, 56, 56);
    margin-bottom: 3rem;
    font-size: 2rem;
    
}

.btnAddBarbe {
    color: white;
    background-color: #E18B22;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out ;
    padding: 2% 18%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btnAddBarbe:hover{
    color: white;   
    background-color: #f0921f;
    }

.form-label{
    color: #626262;
    font-size: 1.3rem;
    font-weight: 500;
}

.addBarbeInput{
    width: 90%;
}

.last{
    padding-bottom: 2rem;
}

.form-control{
    -webkit-box-shadow: 4px 7px 17px -4px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 4px 7px 17px -4px rgba(0, 0, 0, 0.32);
    box-shadow: 4px 7px 17px -4px rgba(0, 0, 0, 0.32);
}
