.main-pc {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 80vh;

    border-radius: 0.7rem;
    padding: 3rem;


    -webkit-box-shadow: 6px 13px 17px 2px rgba(133, 133, 133, 0.82);
    -moz-box-shadow: 6px 13px 17px 2px rgba(133, 133, 133, 0.82);
    box-shadow: 6px 13px 17px 2px rgba(133, 133, 133, 0.82);
}

.ctn-filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title-pc {
    font-size: 2rem;
    color: rgb(71, 71, 71);
}

.filtro-pc {
    color: white;
    background-color: #E18B22;
    margin: .4rem 0;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.filtro-pc:hover {
    background-color: #df9842;
}

.pagination-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.btn-next {
    background-color: #E18B22;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: 0.4rem 2rem;
}

.scroll {
    overflow-y: auto;
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 100%;
}