.main-header {
    -webkit-box-shadow: 7px 28px 26px -27px rgba(133, 133, 133, 0.24);
    -moz-box-shadow: 7px 28px 26px -27px rgba(133, 133, 133, 0.185);
    box-shadow: 7px 28px 26px -27px rgba(133, 133, 133, 0.164);
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}


.logoNav {
    width: 4rem;
    height: auto;
    margin-right: 2rem;
}

#link {
    font-size: 1.2rem;
    position: relative;
}

#link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: rgb(94, 94, 94);
    transition: width 0.3s ease, right 0.3s ease;
}

#link:hover::after {
    width: 100%;
    left: 0;
}


.navbar-collapse {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
    gap: 5rem;
}

.exitNav {
    margin-left: 2rem;
}

.sairNav {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    margin-right: 5rem;
    color: rgb(20, 20, 20);
}

.sairNav:hover{
    color: rgb(95, 95, 95);
}