

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
}


.logoNav {
    width: 4rem; 
    height: auto; 
    margin-right: 2rem;
}


.navbar-collapse {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
}

.navbar-nav {
    display: flex;
    gap: 5rem; 
}

.exitNav {
    margin-left: 2rem; 
}

.sairNav {
    text-decoration: none; 
    color: inherit; 
    font-weight: bold; 
    margin-right: 5rem;
}
