.main-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;
    border-bottom: 1px solid rgb(134, 134, 134);
    padding-bottom: 2rem;
    margin: 3rem 0;
    color: rgb(53, 53, 53);
}

.card-left,
.card-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-right {
    align-items: end;
}

.nome-card,
.barbeiro-card,
.hora-card {
    word-break: break-word;
    overflow-wrap: break-word;
}

.nome-card {
    font-size: 1.4rem;
}

.barbeiro-card {
    font-size: 1.1rem;
}

.hora-card {
    font-size: 1.2rem;
    text-align: end;
    width: 10rem;
}

.btn-card {
    border: none;
    background-color: #1B5506;
    color: white;
    padding: 0.3rem 1.4rem;
    border-radius: .2rem;
}

@media screen and (max-width: 1260px) {
    .nome-card {
        font-size: 1.2rem;
    }

    .barbeiro-card {
        font-size: 1rem;
    }

    .hora-card {
        font-size: 1.1rem;
    }
}
